<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
</head>
<body>
    <h1>Welcome to My Website</h1>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/list-mahasiswa">List Mahasiswa</a></li>
    </ul>
</body>
</html>
