<!DOCTYPE html>
<html>
<head>
  <title>Mahasiswa Menu</title>
</head>
<body>
  <h1>Welcome to the Mahasiswa Menu</h1>
  <ul>
    <li><a href="/mahasiswa/profile">Profile</a></li>
    <li><a href="/mahasiswa">List Mahasiswa</a></li>
  </ul>
</body>
</html>