<!DOCTYPE html>
<html>
  <head>
    <title>EJS Web</title>
  </head>
  <body>
    <h1>Welcome to EJS Web</h1>
    <ul>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/list">List Mahasiswa</a></li>
    </ul>
  </body>
</html>
