<!DOCTYPE html>
<html>
<head>
    <title>Web App</title>
</head>
<body>
    <h1>Welcome to Web App</h1>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/listMahasiswa">List Mahasiswa</a></li>
    </ul>
</body>
</html>