<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/listMahasiswa">List Mahasiswa</a></li>
  </ul>
</body>
</html>