<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <style>
    body {
      background-color: white;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: black;
      text-align: center;
      margin-top: 50px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    li {
      display: inline-block;
      margin: 20px;
    }

    a {
      text-decoration: none;
      color: red;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #0400ff;
    }
  </style>
</head>
<body>
  <h1>SELAMAT DATANG DI WEBSITE EJS</h1>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/list">List Mahasiswa</a></li>
  </ul>
</body>
</html>