<!DOCTYPE html>
<html>
<head>
  <title>Main Menu</title>
  <style>
    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #333;
      text-align: center;
      margin-top: 50px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-top: 30px;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-size: 20px;
      padding: 10px 20px;
      border: 2px solid #333;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      background-color: #f8f9fa; /* Tambahkan properti ini */
    }

    a:hover {
      background-color: #333;
      color: #fff;
    }
  </style>
</head>
<body>
  <h1>Menu Mahasiswa</h1>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/mahasiswa">List Mahasiswa</a></li>
  </ul>
</body>
</html>
