<!DOCTYPE html>
<html>
<head>
  <title>Main Menu</title>
</head>
<body>
  <h1>Menu Mahasiswa</h1>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/mahasiswa">List Mahasiswa</a></li>
  </ul>
</body>
</html>