<!DOCTYPE html>
<html>

<head>
    <title>Halaman Utama</title>
</head>

<body>
    <h1>Halaman Utama</h1>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/list-mahasiswa">List Mahasiswa</a></li>
        <li><a href="/mahasiswa">GetAll Mahasiswa</a></li>
        <li><a href="/mahasiswa/clj2k4u62021l0872l5005sgr">GetOne Mahasiswa</a></li>
    </ul>
</body>

</html>