<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
</head>
<body>
  <h1>Menu</h1>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/list-mahasiswa">List Mahasiswa</a></li>
  </ul>
</body>
</html>
