<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>
    <p>Nama: <%= nama %></p>
    <p>NIM: <%= nim %></p>
    <a href="/">Kembali ke Beranda</a>
  </body>
</html>
