<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Halaman Profile</h1>
  <ul>
    <% mahasiswa.forEach(function(mhs) { %>
      <li>
        <p>Nama: <%= mhs.name %></p>
        <p>NIM: <%= mhs.nim %></p>
        <p><a href="/mahasiswa/profile/<%= mhs.id %>">Detail Mahasiswa</a></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>