<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Profile</h1>
  <p>Nama: <%= data.nama %></p>
  <p>NIM: <%= data.nim %></p>
  <p>Alamat: <%= data.address %></p>
</body>
</html>