<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
</head>

<body>
    <h1>Halaman Profile</h1>
    <p>Nama:
        <%= mahasiswa.nama %>
    </p>
    <p>NIM:
        <%= mahasiswa.nim %>
    </p>
    <p>Alamat:
        <%= mahasiswa.alamat %>
    </p>
</body>



</html>