<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Profile</h1>
  <div class="profile-info">
    <p>Nama: <span><%= nama %></span></p>
    <p>NIM: <span><%= nim %></span></p>
  </div>
</body>
</html>
