<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>
    <ul>
      <% mahasiswa.forEach(function(mhs) { %>
      <li>
        <p>Nama: <%= mhs.name %></p>
        <p>NIM: <%= mhs.nim %></p>
        <p>
          Detail Mahasiswa :
          <a href="/mahasiswa/profile/<%= mhs.id %>">klik disini</a>
        </p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
