<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Halaman Utama</title>
</head>
<body>
  <h1>Menu</h1>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/list_mahasiswa">List Mahasiswa</a></li>
  </ul>
</body>
</html>