<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Selamat Datang</h1>
  <ul>
    <li><a href="/profil">Profil</a></li>
    <li><a href="/list">List Mahasiswa</a></li>
  </ul>
</body>
</html>